* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
  font-family: "popins", sans-serif;
  background-size:cover;
  background-position: center center;
}

.container {
  height: auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.13);
  margin: auto;
  margin-top: 4rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  display: flex;
}

.rightSide {
    width: 40%;
    margin-left: auto;
    margin-right: 40px;  
}

form * {
  font-family: "Poppins", sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.heading {
  margin: 20px;
}

.heading h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.description {
  margin: 5px;
  text-align: center;
  letter-spacing: 0.5px;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}

.forgot {
  display: block;
  text-decoration: none;
  margin-top: 15px;
  float: right;
  transition: 0.4s;
}
.container a:hover {
  color: red;
}

.btn {
  margin-top: 50px;
  margin-bottom: 35px;
  width: 100%;
  background-color: blue;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: blue;
    color: rgb(0, 0, 0);
}

.pass{
    position: relative;
}

.seperation {
  font-size: 13px;
  color: #e5e5e5;
  overflow: hidden;
  text-align: center;
}

.seperation:before,
.seperation:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.seperation:before {
  right: 0.5em;
  margin-left: -50%;
}

.seperation:after {
  left: 0.5em;
  margin-right: -50%;
}

.container img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.btn2{
    display: flex;
    margin-top: 50px;
    margin-bottom: 35px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;  
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.btn2:hover{
    background-color:rgb(227, 115, 94);
    color: #fff;
}


.signUp{
    text-align: center;
    margin: 5px;
    font-size: 15px;
}
.sign{
    margin: 4px;
    text-decoration: none;
    color: blue;
    font-weight: 500;
}


.leftSide{
    display: flex;
}

.leftSide img {
    margin-left:0;
    margin-right: auto;
    width:90%;
    height:100%;
}


@media (max-width: 1100px)
{

    .leftSide{
      display: none;
      margin: 0 auto;
    }
    .rightSide {
      width: 100%;
      margin: auto;  
  }
}